@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maven Pro", serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    height: 30vh;
    width: 35vw;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-left: #023e8a 5px solid;
}

#header{
    color: #343a40;
}

#para{
    color: #6c757d;
    font-style: italic;
}

button{
    margin: 10px;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}